.App {
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    margin: 5px;
    padding: 10px 50px;
    border: 1px solid black;
    border-radius: 10px;
}

input[type="submit"] {
    border: 1px solid black;
    border-radius: 10px;
}