body{
    background-image: url('../img/pattern.jpg');
}

header{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    background-color: white;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    justify-content: space-between;
}

nav{
    margin-right: 20px;
}

nav ul a, article a{
    text-decoration: none;
    color:black;
}

nav ul li{
    list-style: none;
    display: inline;
    padding: 5px 10px;
    border: 2px solid darkblue;
    border-radius: 3px;
}

nav ul li:hover{
    background-color: darkblue;
    color: white;
}

section{
    margin: auto;
    margin-top: 80px !important;
    padding: 10px;
    width: 75%;
    background-color:rgba(255,255,255,.7);
}

h1{
    text-align: center;
}

#article-list div{
    border-bottom: 1px solid black;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
}